body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: rgba(253, 246, 246, 0.815);
  font-family: "Vollkorn", serif;
  font-weight: lighter;
}
header {
  width: 100%;
  background: url(https://usth.edu.vn/uploads/tin-tuc/2020_10/1nhom-ban-vui-ve-khi-o-truong.jpg)
    no-repeat 50% 50%;
  background-size: cover;
  height: 600px;
}
.logo {
  line-height: 50px;
  position: fixed;
  float: left;
  margin: 2px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 2vw;
  letter-spacing: 10px;
  text-decoration: none;
}

.homepage-first-container {
  width: 70%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  font-size: 25px;
  text-align: justify;
  height: 175px;
}
.homepage-first-container-child-left {
  width: 62%;
  float: left;
  padding: 20px;
  border-right: 1px solid #000;
}

.homepage-first-container-child-left ul {
  list-style-type: none;
}
.homepage-first-container-child-right {
  width: 38%;
  float: left;
  padding: 20px;
  color: grey;
}
.homepage-first-div {
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding-top: 30px;
}

.homepage-first-outer {
  width: 75%;
  height: 200px;
  margin: 4em auto;
}
.homepage-first-outer-div {
  width: 33.333%;
  float: left;
  padding: 20px;
  text-align: center;
}
.homepage-first-outer-text {
  padding-top: 30px;
  text-align: center;
  color: #ff851b;
}
.blank-div {
  height: 50px;
}
.book1 {
  border-radius: 5px;
  width: 150px;
}
nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  line-height: 60px;
  background-color: black;
  font-size: 1.5vw;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}
nav div a {
  color: #fff;
}
nav div a:hover {
  color: #fff;
  text-decoration: none;
}
.main-feature{
  margin: auto;
}
@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}

.picture {
  width: 100%;
  height: 800px;
  background: url(https://tapchikientruc.com.vn/wp-content/uploads/2016/11/A1163-tckt-021.jpg);
  background-size: cover;
}

.search-bar {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 2.5rem;
  box-sizing: border-box;
  /*background: rgba(0, 0, 0, 0.6);*/
  /* background: rgba(253, 246, 246, 0.815); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0,0,0, 0.1) );
  border-radius: 0.625rem;
}
.upload-btn {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  box-sizing: border-box;
  background: black;
  color: white;
}
.search-bar input[type="text"] {
  /*text-align: center;
  border-radius: 20px;
  width: 100%;
  float: left;
  border-left: 30px;
  outline: none;*/
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 85%;
  transition: 1s;
}
.search-bar input[type="text"]:focus {
  width: 100%;
}
.change-password-box {
  background-color: white;
  color: black;
  width: 100%;
}
.filter {
  display: flex;
  padding-top: 2%;
  width: 80%;
  margin: auto;
}
.search-placeholder {
  display: flex;
  width: 100%;
}
/*.search-bar input[type="text"]::after {
  content: "";
}*/
.filter-select {
  height: 50px;
  width: 25%;
  font-size: 17px;
  transition: 1s;
  text-align-last: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.filter-select:focus, .filter-select:hover {
  width: 40%;
  background-color: #f5f5f5;
  color: black;
}
.search-btn {
  height: 50px;
}
.search-bar button[type="submit"] {
  /*height: 50px;
  width: 10%;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  right: 30px;
  text-decoration: none;
  outline: none;
  background-color: #f0daa4;*/
  float: left;
  width: 15%;
  padding: 10px;
  background: gray;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-collapse: collapse;
  cursor: pointer;
}
.change {
  color: blue;
}
.change:hover {
  text-decoration: underline;
  cursor: pointer;
}
.search-btn:hover {
  background-color: #0b7dda;
}
.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.book-link{
  width: 40px;
  height: 40px;
}
.search-filter {
  width: 20%;
  text-align: center;
  background-color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  outline: none;
  text-decoration: none;
}

.search-bar button[type="submit"]:hover {
  background-color: black;
  color: white;
}

.filter button[type="submit"] {
  height: 50px;
  width: 10%;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #f0daa4;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.box,
.login-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  border-radius: 0.625rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0,0,0, 0.1) );
  text-align: center;
}
.profile-box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0,0,0, 0.1) );
  border-radius: 0.625rem;
  text-align: center;
}
.login-box input {
  /*border-radius: 10px;*/
  border: white 0.5px solid;
  border-bottom: black 0.5px solid;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 65%;
  float: left;
}
.upload-box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 1.5rem;
  box-sizing: border-box;
  border-radius: 0.625rem;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0,0,0, 0.1) );
}
.upload-box h5 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}
.upload-box input {
  margin-top: 20px;
  background: none;
}

.box h2,
.login-box h2,
.profile-box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box h3,
.login-box h3,
.profile-box h3 {
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

.login-submit-form {
  display: block;
  width: 80%;
  margin: auto;
}
.login-btn {
  color: white;
  background-color: black;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: height 0.5s;
}
.login-btn:hover {
  background-color: white;
  height: 50px;
  color: black;
  cursor: pointer;
}
.box input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background-color: #03a9f4;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
}

.box input[type="submit"]:hover {
  background-color: #1cb1f5;
}
/* new feature container */
.container-fluid {
  width: 100%;
  text-align: right;
  font-size: 25px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.row {
  margin-top: 25px;
}

.container-fluid h1 {
  color: #00229e;
}
.container-fluid li {
  margin-top: 25px;
}
/* footer */
footer .jumbotron-fluid {
  margin-bottom: 0;
}

footer .footer-container {
  width: 100%;
  text-align: left;
  color: #fff;
  size: 25px;
  padding: 25px;
  background-color: #000;
}

footer .footer-logo {
  position: relative;
  float: right;
  left: 80px;
  top: 125px;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 10px;
}

footer .col-md-4 ul {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
  font-size: 25px;
}

footer .col-md-4 li {
  padding-top: 5px;
}

footer .list-unstyled li a {
  color: #fff;
  position: relative;
}
footer .follow {
  position: relative;
  width: 100%;
  text-align: left;
  top: 80px;
  bottom: 20px;
  font-size: 25px;
}

.social a {
  top: 85px;
  position: relative;
  color: #fff;
  font-size: 50px;
  padding-right: 3rem;
}
/* browse content */
.title {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: auto;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  background-color: #659dbd;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b,
    20px 20px 0px #017e7f, 25px 25px 0px #052939, 30px 30px 0px #659dbd,
    35px 35px 0px #659dbd, 40px 40px 0px #659dbd, 45px 45px 0px #659dbd;
}
.form-container {
  display: flex;
  width: 100%;
  height: 45px;
}
.form-container-modal {
  margin-left: 25%;
  display: flex;
  width: 50%;
  height: 45px;
}

.username-label,
.password-label {
  border: white 0.5px solid;
  border-bottom: black 0.5px solid;
  background: grey;
  float: left;
  width: 35%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  font-size: 15px;
}
.current-password-label,
.new-password-label {
  border: white 0.5px solid;
  border-bottom: black 0.5px solid;
  background: grey;
  float: left;
  width: 40%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  font-size: 15px;
  margin: auto;
}
.change-password-modal input {
  /*border-radius: 10px;*/
  border: white 0.5px solid;
  border-bottom: black 0.5px solid;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
  float: left;
}

.carousel {
  background-color: #659dbd;
  margin-top: 25px;
  margin-bottom: 50px;
}

.carousel-cell {
  width: 239px;
  height: 358.36px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: carousel-cell;
  text-align: center;
  color: #fff;
  transition: 1s;
}
.carousel-cell:hover {
  height: 205px;
}
/* cell number  */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.login-noti {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.login-noti-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
  font-size: 25px;
  display: flex;
}
.login-noti-content p {
  margin: auto;
  color: red;
}
.login-noti-content button {
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  text-decoration: none;
}
.login-noti-content button:hover {
  background-color: #0b7dda;
  cursor: pointer;
}
@-webkit-keyframes fadein {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
.warning-small{
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:rgb(0, 0, 0);
  text-align: center;
}
.warning-small-container{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  height: 50%;
}
.warning-text{
  font-size: 2.7vw;
  color: white;
  margin: auto;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.warning-solution{
  display: flex;
  color: white;
  padding-left: 24%;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.warning-solution li{
  font-size: 2.3vw;
  list-style: none;
}
@media only screen and (orientation: portrait){
  .warning-small{
    display: block !important;
  }
}
.change-password-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.change-password-modal:target {
  display: block;
  position: absolute;
}
.change-password-modal-content {
  background: url(https://freefrontend.com/assets/img/css-triangle-backgrounds/2-triangles-background.png);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  text-align: center;
  font-size: 25px;
  padding: 2.5rem;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 1.5s;
}
.change-password-modal-title {
  margin-bottom: 20px;
}
.change-password-modal button {
  font-size: 15px;
  margin-top: 15px;
}
.modal-close-btn {
  float: right;
  text-decoration: none;
}
.modal-close-btn a {
  color: black;
  text-decoration: none;
  transition: 1s;
}
.modal-close-btn a:hover {
  color: white;
}
.carousel-caption {
  color: black;
  background-color: white;
  width: 239px;
  overflow: hidden;
  float: left;
  left: 0px;
}
@-webkit-keyframes moveUpandDown {
  16.65% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  33.3% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  49.95% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  66.6% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes moveUpandDown {
  16.65% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  33.3% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  49.95% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  66.6% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
nav a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}
nav a:hover,
nav a:focus,
nav a:active {
  -webkit-animation-name: moveUpandDown;
  animation-name: moveUpandDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.browse-book-container {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.browse-book-container:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: orange;
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 1.5;
  transition-duration: 1.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.browse-book-container:hover:before,
.browse-book-container:focus:before,
.browse-book-container:active:before {
  left: 0;
}

/* content.html */
.up_container {
  display: flex;
  width: 60%;
  height: 50vh;
  align-items: center;
  overflow: hidden;
  margin: auto;
}

.book_image {
  flex: 1;
  text-align: center;
  height: 45vh;
}
.book_image img {
  filter: drop-shadow(0px 5px 3px black);
}

.right_contain_up {
  flex: 3;
  height: 45vh;
  padding-left: 15px;
}

.book_title {
  width: 70%;
  height: auto;
  font-size: 50px;
  font-weight: bold;
}
.author {
  width: 70%;
  height: auto;
  font-size: 25px;
  font-weight: bold;
  color: gray;
}
.download {
  color: white;
  width: 40%;
  background-color: black;
  height: 10vh;
  margin-top: 25px;
}

.middle_container {
  display: flex;
  overflow: hidden;
  width: 60%;
  height: auto;
  align-items: center;
  margin: auto;
  height: 65vh;
}
.left_contain_mid {
  flex: 1;
  color: #000;
  height: 100%;
}
.left_contain_mid li {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
}
.right_contain_mid {
  flex: 3;
  height: 100%;
  padding-left: 15px;
}

.right_contain_mid p {
  font-size: 20px;
  line-height: 30px;
}

.bottom_container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: auto;
  height: 100vh;
}

.comment_section {
  float: left;
  width: 75%;
  height: 100%;
  overflow: auto;
}
.bottom_container h2{
  text-align: center;
}

.recommend_section {
  float: left;
  width: 25%;
  height: 100%;
}
.recommend_section h2{
  text-align: left;
}
.comment{
  box-sizing: border-box;
  width: inherit;
  height: 15%;
  margin: auto;
  text-align: left;
  border:#000 1px solid;
  background-color: white;
  box-shadow: 5px 10px #8888;
  margin-top: 30px;
  margin-bottom: 30px;
}
.comment-upper{
  display: flex;
  height: 80%;
  padding: 10px;
}
.profile img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 10px;
}

.username{
  padding-top: 0px;
  text-align: center;
}
.comment-content{
  word-wrap: break-word;
  margin: auto;
  text-align: justify;
}
.comment-footer{
  height: 20%;
  padding-left: 120px;
}
.recommend-book{
  padding-left: 20%;
  height: 300px;
  padding-top: 20px;
  overflow: auto;
  padding-bottom: 20px;
}
@media screen and (max-width: 1200px) {
.current-password-label,
.new-password-label {
  border: white 0.5px solid;
  border-bottom: black 0.5px solid;
  background: #888;
  float: left;
  width: 50%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
  font-size: 12px;
  margin: auto;
  overflow: hidden;
}
.change-password-modal-content {
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding: 2.5rem;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 1.5s;
}
.change-password-modal-content input{
  width: 50%;
}
}
@media only screen and (max-height: 600px) {
  .comment{
    height: 20%;
  }
}
@media only screen and (max-width: 1200px){
  .bottom_container {
    display: inline-block;
  }  
  .comment_section{
    width: 100%;
  }
  .recommend_section{
    width: 100%;
  }
  .bottom-container-title{
    display: block;
  }
  .review-title{
    width: 100%;
    padding-left: 35%;
    padding-top: 10%;
  }
  .recommend-title{
    display: none;
  }
}
.scroll{
  overflow: auto;
}
.bottom-container-title{
  display: flex;
  width: 100%;
  padding-top: 10%;
}
.bottom-container-title .review-title{
  float: left;
  width: 75%;
  text-align: center;
}
.bottom-container-title .recommend-title{
  float: left;
  width: 25%;
  text-align: left;
  padding-left: 20px;
}
.vote{
  text-align: center;
  font-size: 14px;
}
.vote img{
  max-height: 20px;
}

