body{
    background-color: red;
}

#undernav-row{
    background-color:  black;
    text-align: center;
    color: white;
}
#row1{
    text-align: center;
    padding-top: 50px;
}

#main, #sticky-sidebar{
    text-align: center;
}

#message{
    text-align: center;
    margin: auto;
}