<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'addon.html' %}
  <meta charset= "UTF-8"> 
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Among USTH</title>
    {% block head %} {% endblock %}
</head>
<body>
      {% include 'navbar.html' %}
    
      {% block body %} {% endblock %}

      <div class= "row" id = "page-content">
        <div class= "col-sm-9" id= "main">
              {% block page_content %} {% endblock %}
        </div>
        <div class= "col-sm-3" id="sticky-sidebar" style="background-color: lightgrey;">
            <div class="sticky-top">
              {% block sidebar_content %} {% endblock %}
            </div>
        </div>
    </div>
    
</body>
</html>