<!DOCTYPE html>
<html lang="en">
<head>
    <link
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
    href="https://fonts.googleapis.com/css2?family=BioRhyme&display=swap"
    rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
    href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@600&display=swap"
    rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Browse</title>
    <link rel="stylesheet" href="static/stylesheets/style.css" />
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/static/js/myjs.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <!--Navbar-->
    {% include 'navbar.html' %}

    <!--Search bar-->
    <form class="search-bar">
        <div class="search-placeholder">
            <input type="text" placeholder="Search for material(s)...">
            <button type="submit" class="search-btn"><i class="fa fa-search" alt=""></i></button>    
        </div>
        <div class="filter">
            <select class="filter-select" id="filter-type">
                <option value>Material type</option>
                <option value="">Any</option>
                <option value="">Hey</option>
                <option value="">Hey</option>
            </select>
            <select class="filter-select" id="filter-type">
                <option value>Subject</option>
                <option value="">Any</option>
                <option value="">Hey</option>
                <option value="">Hey</option>
            </select>
            <select class="filter-select" id="filter-type">
                <option value>Author</option>
                <option value="">Hey</option>
                <option value="">Hey</option>
                <option value="">Hey</option>
            </select>
            <select class="filter-select" id="filter-type">
                <option value>One more filter..?</option>
                <option value="">Hey</option>
                <option value="">Hey</option>
                <option value="">Hey</option>
            </select>

        </div>
    </form>

    <!--Book-->
    <h1>Books</h1>
    <div class="wrapper-content">
        <div class="item-container">
            <div class="item">box-1</div>
            <div class="item">box-2</div>
            <div class="item">box-3</div>
            <div class="item">box-4</div>
            <div class="item">box-5</div>
            <div class="item">box-6</div>
            <div class="item">box-7</div>
            <div class="item">box-8</div>
            <div class="item">box-9</div>
            <div class="item">box-10</div>
        </div>
    </div>
    <!--Document-->
    <h1>Documents</h1>
    <div class="wrapper-content">
        <div class="item-container">
            <div class="item">box-1</div>
            <div class="item">box-2</div>
            <div class="item">box-3</div>
            <div class="item">box-4</div>
            <div class="item">box-5</div>
            <div class="item">box-6</div>
            <div class="item">box-7</div>
            <div class="item">box-8</div>
            <div class="item">box-9</div>
            <div class="item">box-10</div>
        </div>
    </div>
    <!--Slide-->
    <h1>Slides</h1>
    <div class="wrapper-content">
        <div class="item-container">
            <div class="item">box-1</div>
            <div class="item">box-2</div>
            <div class="item">box-3</div>
            <div class="item">box-4</div>
            <div class="item">box-5</div>
            <div class="item">box-6</div>
            <div class="item">box-7</div>
            <div class="item">box-8</div>
            <div class="item">box-9</div>
            <div class="item">box-10</div>
        </div>
    </div>
    <!--Footer-->
    {% include 'footer.html' %}
</body>
</html>