<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<style>
    header{
        background: url(https://wallpaperaccess.com/full/124383.jpg) no-repeat 50% 50%;
        background-size: cover;
    }
    body{
        background-color: #659dbd;
    }
</style>
<body>
    <!--Navbar-->
    {% include 'navbar.html' %}
    {% include 'warning.html' %}


    <!--Search bar-->
    <form class="search-bar" method="POST" action="/browse">
        <div class="search-placeholder">
            <input type="text" name="search_string" placeholder="Search for material(s)...">
            <button type="submit" name="search" class="search-btn" formaction="/search"><i class="fa fa-search" alt=""></i></button>
        </div>
        <div class="filter">
            <select class="filter-select" id="filter-type_book" name="filter-type_book">
                <option value>Any Material type</option>
                <option value="">Document</option>
                <option value="">Books</option>
                <option value="">Slides</option>
            </select>
            <select class="filter-select" id="filter-type_subject" name="filter-type_subject">
                <option value>Any Subject</option>
                <option value="">Mathematics</option>
                <option value="">Chemistry</option>
                <option value="">Something</option>
            </select>
            <select class="filter-select" id="filter-type_author" name="filter-type_author">
                <option value>Any Author</option>
                <option value="">Hey</option>
                <option value="">Hey</option>
                <option value="">Hey</option>
            </select>
            <select class="filter-select" id="filter-type_other" name="filter-type_other">
                <option value>One more filter..?</option>
                <option value="">Hey</option>
                <option value="">Hey</option>
                <option value="">Hey</option>
            </select>
        </div>
    </form>
    <div class="upload-box">
        <h5>Can't find your books?</h5><a href="/upload">Upload now!</a>
        <!-- <input type="file" class="upload-btn"> -->
    </div>

    <!--Book-->
    <div class="browse-book-container">
    <div class="title">BOOKS</div>
    <!-- Flickity HTML init -->
    <div class="carousel" data-flickity='{ "initialIndex ": 3 }'>
      <div class="carousel-cell">
          <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
          <div class="carousel-caption">Book name here</div>
      </div>
      <div class="carousel-cell">
        <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
        <div class="carousel-caption">Book name here</div>
    </div>
    <div class="carousel-cell">
        <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
        <div class="carousel-caption">Book name here</div>
    </div>
    <div class="carousel-cell">
        <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
        <div class="carousel-caption">Book name here</div>
    </div>
    <div class="carousel-cell">
        <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
        <div class="carousel-caption">Book name here</div>
    </div>
    <div class="carousel-cell">
        <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
        <div class="carousel-caption">Book name here</div>
    </div>
    <div class="carousel-cell">
        <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
        <div class="carousel-caption">Book name here</div>
    </div>
    <div class="carousel-cell">
        <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
        <div class="carousel-caption">Book name here</div>
    </div>
    <div class="carousel-cell">
        <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
        <div class="carousel-caption">Book name here</div>
    </div>
    </div>
    </div>
    <!--Document-->
    <div class="browse-book-container">
    <div class="title">DOCUMENTS</div>
    <!-- Flickity HTML init -->
    <div class="carousel"  data-flickity='{ "initialIndex ": 0 }'>
        <div class="carousel-cell">
            <a href="/content">
                <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
                <div class="carousel-caption">Document name here</div>    
            </a>
        </div>
        <div class="carousel-cell">
            <a href="/content">
                <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
                <div class="carousel-caption">Document name here</div>    
            </a>
        </div>
        <div class="carousel-cell">
            <a href="/content">
                <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
                <div class="carousel-caption">Document name here</div>    
            </a>
        </div>
        <div class="carousel-cell">
            <a href="/content">
                <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
                <div class="carousel-caption">Document name here</div>    
            </a>
        </div>
        <div class="carousel-cell">
            <a href="/content">
                <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
                <div class="carousel-caption">Document name here</div>    
            </a>
        </div>
        <div class="carousel-cell">
            <a href="/content">
                <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
                <div class="carousel-caption">Document name here</div>    
            </a>
        </div>
        <div class="carousel-cell">
            <a href="/content">
                <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
                <div class="carousel-caption">Document name here</div>    
            </a>
        </div>
        <div class="carousel-cell">
            <a href="/content">
                <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
                <div class="carousel-caption">Document name here</div>    
            </a>
        </div>
        <div class="carousel-cell">
            <a href="/content">
                <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
                <div class="carousel-caption">Document name here</div>    
            </a>
        </div>
    </div>
  
    </div>
    <!--Slide-->
    <div class="browse-book-container">
    <div class="title">SLIDES</div>
    <!-- Flickity HTML init -->
    <div class="carousel" data-flickity='{ "groupCells": true }'>
        <div class="carousel-cell">
            <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
            <div class="carousel-caption">Slide name here</div>
        </div>
        <div class="carousel-cell">
            <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
            <div class="carousel-caption">Slide name here</div>
        </div>
        <div class="carousel-cell">
            <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
            <div class="carousel-caption">Slide name here</div>
        </div>
        <div class="carousel-cell">
            <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
            <div class="carousel-caption">Slide name here</div>
        </div>
        <div class="carousel-cell">
            <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
            <div class="carousel-caption">Slide name here</div>
        </div>
        <div class="carousel-cell">
            <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
            <div class="carousel-caption">Slide name here</div>
        </div>
        <div class="carousel-cell">
            <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
            <div class="carousel-caption">Slide name here</div>
        </div>
        <div class="carousel-cell">
            <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
            <div class="carousel-caption">Slide name here</div>
        </div>
        <div class="carousel-cell">
            <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
            <div class="carousel-caption">Slide name here</div>
        </div>
        <div class="carousel-cell">
            <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
            <div class="carousel-caption">Slide name here</div>
        </div>
        <div class="carousel-cell">
            <img class="carousel-inner" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
            <div class="carousel-caption">Slide name here</div>
        </div>
    </div>
    </div>
    <!--Footer-->
    {% include 'footer.html' %}
</body>
</html>