<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.html' %}
</head>
<style>
    header{
        background: url(https://wallpaperaccess.com/full/124383.jpg) no-repeat 50% 50%;
        background-size: cover;
    }
</style>
<body>
    <!--Navbar-->
    {% include 'navbar.html' %}
    {% include 'warning.html' %}
    <!--Up container-->
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {
          document.querySelectorAll('input').forEach(input => {
              input.onclick = () => {
                  const request = new XMLHttpRequest();
                  request.open('POST', `/${input.id}`);
                  request.onload = () => {
                      const response = request.responseText;
                      if (input.id == "up")
                      {
                        document.getElementById('upvote_count').innerHTML = response;
                      }
                      else if (input.id == "down"){
                        document.getElementById('downvote_count').innerHTML = response;
                      }
                    }; 
                  request.send();
              };
          });
      });
  </script>
    <section class="up_container">
        <div class="book_image">
         <img class="carousel-inner" src={{image_link}} alt="" width="2px"/>
         </div>
        </div>
        <div class="right_contain_up">
         <div class="book_title">{{title}}</div>
         <div class="author">{{Author}}</div>
          <form action='download/{{file_id}}' method='POST'>
            <input type = "submit" class="download" value = 'DOWNLOAD'></input>
          </form>
          </div>
       </section>
    <!-- Mid container -->
       <section class="middle_container">
         <div class="left_contain_mid">
           <ul class="list-unstyled">
             <li>Pages: {{page_num}}</li>
             <li>Downloads: {{download_count}}</li>
             <li><span><input type = "image" id = "up" src="{{url_for('static', filename='images/up.png')}}" alt="upvote"></span>
             <span id = "upvote_count">{{upvote_count}}</span></li>
             <li><span><input type = "image" id = "down" src="{{url_for('static', filename='images/down.png')}}" alt="downvote"></span>
             <span id = "downvote_count">{{downvote_count}}</span></li>

           </ul>
         </div>
         <div class="right_contain_mid">
           <div class="description">
             <p>{{description}}
             </p>
           </div>
         </div>
       </section>
    <!-- Bot container -->
    <div class="bottom-container-title">
      <h2 class="review-title">READER REVIEW</h2>
      <h2 class="recommend-title">YOU MIGHT ALSO LIKE</h2>
    </div>
       <section class="bottom_container">
         <div class="comment_section">
          <div class="comment">
            <div class="comment-upper">
              <div class="vote">
                <span><img src="{{url_for('static', filename='images/up.png')}}" alt="upvote"></span>
                <span>100</span>
                <span><img src="{{url_for('static', filename='images/down.png')}}" alt="downvote"></span>
                <span>40</span>  
              </div>
              <div class="profile">
                <img class="avatar" src={{profile_pic}} alt="">
                <div class="username">{{username}}</div>
              </div>
              <div class="scroll comment_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset ....</div>
            </div>
           </div>
           <div class="comment">
            <div class="comment-upper">
              <div class="vote">
                <span><img src="{{url_for('static', filename='images/up.png')}}" alt="upvote"></span>
                <span>100</span>
                <span><img src="{{url_for('static', filename='images/down.png')}}" alt="downvote"></span>
                <span>40</span>  
              </div>
              <div class="profile">
                <img class="avatar" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2021/01/06/8/9/d/3/1609921911553_600.jpg" alt="">
                <div class="username">LTH</div>
              </div>
              <div class="scroll comment_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset ....</div>
            </div>
           </div>
           <div class="comment">
            <div class="comment-upper">
              <div class="vote">
                <span><img src="{{url_for('static', filename='images/up.png')}}" alt="upvote"></span>
                <span>100</span>
                <span><img src="{{url_for('static', filename='images/down.png')}}" alt="downvote"></span>
                <span>40</span>  
              </div>
              <div class="profile">
                <img class="avatar" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2021/01/06/8/9/d/3/1609921911553_600.jpg" alt="">
                <div class="username">LTH</div>
              </div>
              <div class="scroll comment_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset ....</div>
            </div>
           </div>
           <div class="comment">
            <div class="comment-upper">
              <div class="vote">
                <span><img src="{{url_for('static', filename='images/up.png')}}" alt="upvote"></span>
                <span>100</span>
                <span><img src="{{url_for('static', filename='images/down.png')}}" alt="downvote"></span>
                <span>40</span>  
              </div>
              <div class="profile">
                <img class="avatar" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2021/01/06/8/9/d/3/1609921911553_600.jpg" alt="">
                <div class="username">LTH</div>
              </div>
              <div class="scroll comment_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset ....</div>
            </div>
           </div>
           <div class="comment">
            <div class="comment-upper">
              <div class="vote">
                <span><img src="{{url_for('static', filename='images/up.png')}}" alt="upvote"></span>
                <span>100</span>
                <span><img src="{{url_for('static', filename='images/down.png')}}" alt="downvote"></span>
                <span>40</span>  
              </div>
              <div class="profile">
                <img class="avatar" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2021/01/06/8/9/d/3/1609921911553_600.jpg" alt="">
                <div class="username">LTH</div>
              </div>
              <div class="scroll comment_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset ....</div>
            </div>
           </div>

         </div>
         <div class="recommend_section">
           <img class="recommend-book" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
           <img class="recommend-book" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
           <img class="recommend-book" src="https://images-na.ssl-images-amazon.com/images/I/61ZKNw0xixL.jpg" alt="">
         </div>
       </section>
    <!--Footer-->
    {% include 'footer.html' %}
</body>
</html>