<footer class="jumbotron-fluid">
  <div class="footer-container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">AMONGUSTH</div>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>About</li>
          <li>Terms of use</li>
          <li>Private Policy</li>
          <li>Carrers</li>
        </ul>
      </div>  
      <div class="col-md-4 social padding">
        <div class="follow">Follow:</div>
        <a href="https://www.facebook.com/donothingatall"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </footer>