<footer class="jumbotron-fluid">
  <div class="footer-container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">AMONGUSTH</div>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><a href="#">About</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Private Policy</a></li>
          <li><a href="#">Carrers</a></li>
        
        </ul>
      </div>  
      <div class="col-md-4 social padding">
        <div class="follow">Follow:</div>
        <a href="https://www.facebook.com/donothingatall"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
  </div>
</footer>