{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block body %}

<div class= "row" id = "undernav-row">
        <h2 class= "col-sm-12">Homepage</h2>
</div>
<div class= "row">
    <div id= "message">
        <h5 class= "col-sm-12">Welcome to amongUSTH</h5>
        <p class= "col-sm-12">amongUSTH introduction goes here</p>    
    </div>
</div>

{% endblock %}

{% block page_content %} 
<div class= "row" id= "row1">
    <div id="test">Featured in amongUSTH</div>
</div>
<div class= "row" id=" row2">
    <div id="link1">Article name goes here</div>
    <div id="link2">Article name goes here</div>
    <div id="link2">Article name goes here</div>
    <div id="link2">Article name goes here</div>
</div>
<div class= "row" id= "row3">
    <div id= "detail1">Author name</div>
    <div id= "detail2">Author name</div>
    <div id= "detail2">Author name</div>
    <div id= "detail2">Author name</div>
</div>
<div class= "row" id= "row4">
    <div id= "detail1">Date published</div>
    <div id= "detail2">Date published</div>
    <div id= "detail2">Date published</div>
    <div id= "detail2">Date published</div>
</div>
<div class= "row" id= "row6">
    <div id= "detail-end">Number of views</div>
    <div id= "detail3">Number of views</div>
    <div id= "detail3">Number of views</div>
    <div id= "detail3">Number of views</div>
</div>
<div class= "row" id=" row7">
    <div id="link1">Article name goes here</div>
    <div id="link2">Article name goes here</div>
    <div id="link2">Article name goes here</div>
    <div id="link2">Article name goes here</div>
</div>
<div class= "row" id= "row8">
    <div id= "detail1">Author name</div>
    <div id= "detail2">Author name</div>
    <div id= "detail2">Author name</div>
    <div id= "detail2">Author name</div>
</div>
<div class= "row" id= "row9">
    <div id= "detail1">Date published</div>
    <div id= "detail2">Date published</div>
    <div id= "detail2">Date published</div>
    <div id= "detail2">Date published</div>
</div>
<div class= "row" id= "row10">
    <div id= "detail-end">Number of views</div>
    <div id= "detail3">Number of views</div>
    <div id= "detail3">Number of views</div>
    <div id= "detail3">Number of views</div>
</div>
<div class= "row" id= "row11">
    <div id="test">Latest discussions</div>
</div>
<div class= "row" id=" row12">
    <div id="link1">Discussion name goes here</div>
    <div id="link2">Discussion name goes here</div>
    <div id="link2">Discussion name goes here</div>
    <div id="link2">Discussion name goes here</div>
</div>
<div class= "row" id= "row13">
    <div id= "detail1">Author name</div>
    <div id= "detail2">Author name</div>
    <div id= "detail2">Author name</div>
    <div id= "detail2">Author name</div>
</div>
<div class= "row" id= "row14">
    <div id= "detail1">Rating</div>
    <div id= "detail2">Rating</div>
    <div id= "detail2">Rating</div>
    <div id= "detail2">Rating</div>
</div>
<div class= "row" id= "row15">
    <div id= "detail-end">Number of comments</div>
    <div id= "detail3">Number of comments</div>
    <div id= "detail3">Number of comments</div>
    <div id= "detail3">Number of comments</div>
</div>




{% endblock %}

{% block sidebar_content %}
<div class= "col-sm-3" id="sticky-sidebar" style="background-color: lightgrey;">
    <div class="sticky-top">
    </div>
</div>

{% endblock %}
