{% extends 'base.html' %}

{% block body %}
<div class= "row" id = "undernav-row">
    <h2 class= "col-sm-12">Login</h2>
</div>
{% endblock %}

{% block page_content %}
<div class= "row" id = "login-row1">
<table>
    <tr>
        <td>Username: </td>
        <td><input type="text" id="username"></td>
    </tr>
    <tr>
        <td>Password: </td>
        <td><input type="password" id="password"></td>
    </tr>
    <tr>
        <td  colspan="2">
            <button class= "btn btn-success" id="submit">Sign in!</button>
        </td>
    </tr>
    <tr>
        <td  colspan="2">
            <button class= "btn btn-success" id="submit">Sign in via USTH email</button>
        </td>
    </tr>
</table>
</div>
{% endblock %}