{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block body %}

<div class= "row" id = "undernav-row">
        <h2 class= "col-sm-12">Homepage</h2>
</div>
<div class= "row">
    <div id= "message">
        <h5 class= "col-sm-12">Welcome to amongUSTH</h5>
        <p class= "col-sm-12">amongUSTH introduction goes here</p>    
    </div>
</div>

{% endblock %}

{% block page_content %} 
<div class='row'>
    <div class='col-sm-12' style="text-align: center;">
        <h1>Login successfully</h1>
        <p>hello {{name}}</p>
        <p>Your email: {{email}}</p>
    </div>
    
</div>

{% endblock %}

{% block sidebar_content %}
{% endblock %}
