{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block body %}

<div class= "row" id = "undernav-row">
        <h2 class= "col-sm-12">Welcome, {{name}}</h2>
</div>

{% endblock %}

{% block page_content %} 
<div class= "row" id = "login-row1">
    <table>
        <tr>
            <td><h1>Logged in successfully!</h1></td>
        </tr>
        <tr>
            <td><h4 class= text-muted></h4>Hi, {{name}}. Welcome back to amongUSTH!</td>
        </tr>
        <tr>
            <td><h4 class= text-muted></h4>You logged in with e-mail address: {{email}}!</td>
        </tr>
        <tr>
            <td><a href = "/logout"><button class= "btn btn-danger" id="logout-btn">Logout</button></a></td>
        </tr>
    </table>
    </div>

{% endblock %}

{% block sidebar_content %}
{% endblock %}
