<div class="wrapper">
  <header>
    <nav>
      <!--<div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
      </div>-->
      <div class="logo">
        <ul>
          <li><a class="amongUSTH" href="/homepage">AMONGUSTH</a></li>
        </ul>
      </div>
      <div class="menu">
        <ul>
          <li style="display: {{display_navbar}};"><a href="/browse"><img class="book-link" src="static/images/book1.png" alt=""></a></li>
          <li style="display: {{display_navbar}};"><a href="/index"><img class="profile-picture" src="{{picture}}" alt=""></a></li>
          <li><a href="/index">{{name}}</a></li>
        </ul>
      </div>
    </nav>
  </header>
</div>
