<nav class="navbar navbar-expand-lg navbar-light bg-primary col-12">
    <a class="navbar-brand" href="/homepage">Among USTH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Discussion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Latest discussions...</a>
            <a class="dropdown-item" href="#">Most viewed discussions</a>
            <a class="dropdown-item" href="#">Discussion categories</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">All discussions</a>
          </div>
              </li> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Documents
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Textbooks</a>
            <a class="dropdown-item" href="#">Labworks and exercises</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">All documents</a>
          </div>
          </li>
      </ul>
      <button class="nav-item dropdown btn btn-warning btn-sm auto mr-3 order-lg-last">
        <a class="nav-link text-white" href="/login" role="button" onclick="loginPage()">
            Sign in
        </a>
      </button>
      <form class="form-inline auto mr-3 order-lg-last">
        <input class="form-control mr-sm-2" type="search" placeholder="Search among USTH.." aria-label="Search">
        <button class="btn btn-success btn-sm auto mr-3 order-lg-last" type="submit">
            <a class="nav-link text-white" href="#">
                Search  
            </a>    
        </button>      
      </form>

    </div>
  </nav>