{% extends 'base.html' %}

{% block head &}

{% endblock %}

{%block body %}
    <div class="v2_2">
      <div class="v8_24">
        <div class="v8_16"></div>
        <span class="v8_22">Search bar here...</span>
      </div>
      <div class="v8_23"></div>
      <div class="v8_73">
        <div class="v8_25"></div>
        <div class="v8_47"></div>
        <span class="v8_48">data for the discussion here</span>
        <div class="v8_72">
          <div class="v8_49"></div>
          <div class="v8_50"></div>
          <div class="v8_51"></div>
        </div>
        <div class="v8_53"></div>
        <div class="v8_60"></div>
        <div class="v8_57"></div>
        <div class="v8_62"></div>
        <span class="v8_56">Comment</span><span class="v8_58">Save</span
        ><span class="v8_59">Share</span>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
      </div>
      <div class="v8_74">
        <div class="v8_75"></div>
        <div class="v8_76"></div>
        <span class="v8_77">data for the discussion here</span>
        <div class="v8_78">
          <div class="v8_79"></div>
          <div class="v8_80"></div>
          <div class="v8_81"></div>
        </div>
        <div class="v8_82"></div>
        <div class="v8_83"></div>
        <div class="v8_84"></div>
        <div class="v8_85"></div>
        <span class="v8_86">Comment</span><span class="v8_87">Save</span
        ><span class="v8_88">Share</span>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
      </div>
      <div class="v11_89">
        <span class="v8_45">ALL DISCUSION</span>
        <div class="v2_3"></div>
        <div class="v8_13"></div>
        <div class="name"></div>
        <div class="name"></div>
        <div class="name"></div>
        
{% endblock %}
