<div class="warning-small">
    <div class="warning-small-container">
        <p class="warning-text">Your browser size is to small. Please:</p>
        <img src="https://cdn.vn.garenanow.com/web/fo3/fo4/fo4-base-img/rotate-phone.png" alt="">
        <img src="https://cdn.vn.garenanow.com/web/fo3/fo4/fo4-base-img/rotate-restore.png" alt="" class="restore-img">
        <div class="warning-solution">
            <ul>
                <li>Use your phone in landscape mode</li>
                <li>Resize your browser</li>
            </ul>
        </div>
    </div>
</div>